@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Komika;
  src: url(/fonts/KOMIKAGL.ttf);
}

@font-face {
  font-family: MulledWineSeason;
  src: url(/fonts/MulledWineSeason-Medium.otf);
}

.image-container {
  height: 150px;  /* This is to ensure masonry knows the correct height */
}
